html, body {
  height: 100%;
    font-size: 1rem;
    margin: 0;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

    color: #333;
  }
  
  header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .formulario-contacto {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-top: 1rem;
  }
  
  input, textarea {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    margin: 1.5rem auto 0 auto;
    padding: 0.8rem 1.5rem;
    background-color: #30c98b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #249e6c;
  }
  

  /*estilos footer*/

  .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #222;
      color: white;
      padding: 1rem;
      text-align: center;
      z-index: 100;
    }
  
  
  .footer-nav {
    margin-bottom: 1rem;
  }
  
  .footer-nav a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
  }
  
  .footer-nav a:hover {
    text-decoration: underline;
  }
  
  .footer-info {
    margin-bottom: 1rem;
  }
  
  .footer-icons img {
    width: 32px;
    height: auto;
    margin: 0 0.3rem;
  }
  .footer-icons img:nth-child(2) {
    width: 50px;
    height: auto;
  }
  
  /* media queries*/
  @media (min-width: 768px) {
    body {
      padding-bottom: 150px;
    }
    
    .formulario-contacto {
      max-width: 700px;
      padding: 3rem;
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    }
  
    form {
      text-align: left;
    }
  
    button {
      display: inline-block;
      margin-top: 1.5rem;
    }
  }
  
