body {
    background-color: #fafafa;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    padding: 5rem 1rem;
  }
  
  h1 {
    color: #30c98b;
    font-size: 2rem;
  }
  
  p {
    color: #555;
    font-size: 1.2rem;
  }